.page-footer {
  @include pxRem(padding, 30 0);
  @include pxRem(font-size, 16);
  background: map-get($colors, bg-gray);
  text-align: center;
  color: #757589;
  font-family: $font-text;
  .footer {
    justify-content: space-between;
    align-items: center;
    &-social-list {
      justify-content: center;
      align-items: center;
    }
    &-copyright {
      text-align: left;
    }
    &-social-item {
      @include pxRem(padding, 11 12 5);
      vertical-align: middle;
      text-align: center;
      background-color: #ecf2f6;
      border-radius: 50%;
      transition: $transition-hover;
      color: #525260;
      &:hover {
        background-color: #5956e9;
        color: #fff;
      }
    }
    &-link-list {
      justify-content: flex-end;
      align-items: center;
      color: #525260;
    }
    &-link-item {
      position: relative;
      transition: $transition-hover;
      &:hover {
        color: map-get($colors, primary);
      }
      &:last-child {
        &::before {
          @include pxRem(width, 2);
          content: "";
          height: 58%;
          background-color: #99a1aa;
          border-radius: 50%;
          position: absolute;
          top: 53%;
          left: 0;
          z-index: 1;
          transform: translateY(-50%);
        }
      }
    }
  }
}
.active-dark-theme {
  .page-footer {
    background-color: #212121;
    color: #d3d3d4;

  }
}

@include respond-below(wide) {
  .page-footer {
    .footer {
      flex-wrap: wrap;
      .col-5,
      .col-2 {
        width: 100%;
        @include pxRem(margin-bottom, 20 !important);
      }
      &-link-list.col-5 {
        justify-content: center;
        margin-bottom: 0 !important;
      }
      &-link-item {
        @include pxRem(padding, 0 20 !important);
      }
      &-copyright {
        text-align: center;
      }
    }
  }
}
