.swicher-theme {
  @include pxRem(top, 200);
  position: fixed;
  left: 0;
  z-index: 200;
}
.page-header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  .header-wraper {
    transition: $transition-hover;
  }
  .header {
    @include pxRem(padding, 35 15);
    justify-content: space-between;
    align-items: center;
    &-logo {
      @include pxRem(height, 60);
      cursor: pointer;
      position: relative;
      &-dark {
        display: none;
      }
      &-dark-theme {
        display: none;
      }
    }
    &-nav {
      justify-content: space-between;
      align-items: center;
      &-list {
        @include pxRem(margin, 0 22);
        align-items: center;
      }
      &-item {
        @include pxRem(font-size, 16);
        @include pxRem(margin, 0 24);
        color: map-get($colors, txt-gray-dark);
        a {
          position: relative;
        }
        a::before {
          @include pxRem(height, 2);
          @include pxRem(bottom, -10);
          transition: 0.5s;
          opacity: 0;
          width: 0%;
          content: "";
          background-color: map-get($colors, primary);
          position: absolute;
          z-index: 100;
          left: 0;
        }
        a:hover {
          color: map-get($colors, primary);
          position: relative;
          transition: 0.5s;
          &::before {
            opacity: 1;
            width: 100%;
          }
        }
      }
    }
  }
  .sticky {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: map-get($colors, white);
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
    animation: headerSlideDown 0.8s ease forwards;
    .header {
      @include pxRem(padding, 15);
      &-logo {
        &-white {
          display: none;
        }
        &-dark {
          display: block;
        }
      }
    }
  }
}
.active-dark-theme {
  .page-header{
    .sticky {
      background-color: #27272e;
    }
    .header-nav-item {
      color: #d3d3d4;
      a::before {
        background-color: #d3d3d4;
      }
      a:hover {
        color: inherit;
      }
    }
    .header-logo-dark,
    .header-logo-white {
      display: none;
    }
    .header-logo-dark-theme {
      display: block;
    }
  }
}

@keyframes headerSlideDown {
  0% {
    @include pxRem(margin-top, -20);
    opacity: 0;
  }
  30% {
    @include pxRem(margin-top, -10);
    opacity: 0;
  }
  100% {
    @include pxRem(margin-top, 0);
    opacity: 1;
  }
}

//==Responsive==
@include respond-below(larger) {
  .page-header {
    .sticky .header {
      @include pxRem(padding, 15);
    }
    .header {
      @include pxRem(padding, 30 15);
      &-nav-item {
      @include pxRem(margin, 0 11);

      }
    }
  }
}
@include respond-below(wide) { //992
  .page-header {
    .header {
      justify-content: space-between;
      align-items: center;
      &-nav-list {
        display: none;
      }
      &-logo {
        @include pxRem(width, 150);
        @include pxRem(height, 62);
        div {
          @include pxRem(padding-top, 6);
        }
      }
    }
  }
  .swicher-theme {
    display: none;
  }
}
@include respond-below(medium) {
  .page-header {
    .sticky .header {
      @include pxRem(padding, 12 15 10 15);
    }
    .header {
      @include pxRem(padding, 26.5 15);
    }
  }
  .swicher-theme {
    display: none;
  }
}
@include respond-below(small) {
  .page-header {
    .sticky .header {
      @include pxRem(padding, 12 15);
    }
    .header {
      @include pxRem(padding, 27 15);
    }
  }
}
