.page-main {
  background-color: map-get($colors, bg-blue-light);
  .txt-pink {
    color: #c75c6f;
  }
  .title-section {
    @include pxRem(margin-bottom, 80);
    justify-content: space-between;
    align-items: center;
  }
  .title-h1 {
    @include pxRem(font-size, 70);
    @include pxRem(margin-bottom, 40);
    text-align: center;
    line-height: 1.4;
    font-weight: map-get($font-weight, semibold);
    letter-spacing: -0.045em;
  }
  .title-h2 {
    @include pxRem(font-size, 56);
    line-height: 1.2;
    font-weight: map-get($font-weight, bold);
  }
  .title-h4 {
    @include pxRem(font-size, 32);
    color: map-get($colors, black);
    transition: $transition-hover;
    line-height: 1.2;
    font-weight: map-get($font-weight, bold);
  }
  .title-h5 {
    font-weight: map-get($font-weight, normal);
  }
  .title-text {
    @include pxRem(font-size, 18);
    @include pxRem(padding, 0 15);
    font-family: $font-text;
    line-height: 1.5;
  }
  .text {
    @include pxRem(font-size, 14);
    @include pxRem(margin-bottom, 15);
  }
  section {
    position: relative;
  }
  .bg-dark {
    background-color: map-get($colors, bg-gray-dark);
    .title-section {
      @include pxRem(margin-bottom, 75);
      justify-content: left;
    }
    .title-h2 {
      color: #fff;
      font-weight: map-get($font-weight, normal);
    }
    .title-text {
      color: #fff;
      opacity: 0.6;
      width: 41.66666667%;
    }
    p.text {
      @include pxRem(font-size, 16);
      font-weight: map-get($font-weight, light);
      margin-bottom: 0;
      font-family: $font-text;
      color: #fff;
      opacity: 0.4;
      letter-spacing: -0.03em;
      transition: $transition-hover;
    }
    .title-h5 {
      color: map-get($colors, white);
    }
  }
//==Section Banner==
.section-banner {
  @include pxRem(padding-top, 200);
  z-index: 0;
  &::before {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(250, 184, 196, 0.7) 10%, #fff);
    clip-path: circle(120% at 50% -52%);
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .banner {
    &-content {
      @include pxRem(padding, 0 15);
      margin: 0 auto;
      position: relative;
      z-index: 100;
    }
    &-count-list {
      @include pxRem(margin-left, 50);
      justify-content: center;
      text-align: center;
    }
    &-count-item {
      @include pxRem(margin-right, 55);
      @include pxRem(min-width, 170);
    }
    &-count-number {
      @include pxRem(font-size, 80);
      font-weight: map-get($font-weight, medium);
      color: map-get($colors, primary);
      font-family: "Poppins", sans-serif;
      align-items: center;
      justify-content: center;
    }
    &-slider {
      @include pxRem(margin-top, 90);
      position: relative;
      z-index: 200;
      .slick-track {
        @include pxRem(width, 20550 !important);
      }
      .slick-list {
        .single-slide {
          span {
            @include pxRem(border-radius, 30);
            box-shadow: 0 60px 86px -30px rgb(153 159 174 / 40%);
          }
        }
        .slick-slide {
          @include pxRem(padding, 0 30);
          transform: scale(0.85);
          cursor: pointer;
        }
        .slick-slide.slick-active.slick-center {
          @include pxRem(padding, 0 5);
          @include pxRem(margin, 0 0 100);
          transform: scale(1);
        }
      }
      .slick-dots {
        @include pxRem(bottom, 10);
        li {
          @include pxRem(margin, 0 10);
          button {
            color: #dbdeff;
            &:before {
              @include pxRem(font-size, 14);
              opacity:1;
              transition: $transition-hover;
              color: #dbdeff;
            }
          }
        }
        .slick-active {
          button:before {
            opacity:1;
            color: map-get($colors, primary);
          }
        }
      }
    }
    &-bgshape-list {
      @include pxRem(top, -300);
      .shape {
        position: absolute;
        z-index: 3;
      }
      .shape-1 {
        @include pxRem(left, -10);
        top: 0;
      }
      .shape-2 {
        @include pxRem(left, 220);
        top: 45%;
        animation: movingleftright1 25s infinite;
      }
      .shape-3 {
        @include pxRem(bottom, 130);
        left: 45%;
        animation: movingleftright3 20s infinite;
      }
      .shape-4 {
        @include pxRem(top, 180);
        left: 65%;
        animation: movingleftright3 20s infinite;
      }
    }
  }
}
}

//==Section Main Demo==
.section-maindemo {
  @include pxRem(padding, 70 0 90);
  .maindemo {
    &-list {
      flex-wrap: wrap;
    }
    &-item {
      @include pxRem(margin-bottom, 80);
      position: relative;
      z-index: 2;
      text-align: center;
      overflow: hidden;
      &:nth-child(2n) {
        @include pxRem(padding-left, 15);
      }
      &:nth-child(2n-1) {
        @include pxRem(padding-right, 15);
      }
      &-img {
        @include pxRem(margin-bottom, 40);
        @include pxRem(border-radius, 30);
        overflow: hidden;
        position: relative;
        box-shadow: $box-shadow;
        span {
          @include pxRem(border-radius, 30);
          box-shadow: $box-shadow;
          img {
            transition: transform 2s cubic-bezier(0.2, 0.96, 0.34, 1);
          }
        }
        &::before {
          content: "";
          position: absolute;
          left: -75%;
          z-index: 4;
          display: block;
          width: 50%;
          height: 100%;
          background: linear-gradient(
            90deg,
            hsla(0, 0%, 100%, 0) 0,
            hsla(0, 0%, 100%, 0.3)
          );
          transform: skewX(-25deg);
        }
      }
      &:hover {
        cursor: pointer;
        .maindemo-item-img {
          &::before {
            animation: shine 0.75s;
          }
          span img {
            transition: transform 2s cubic-bezier(0.2, 0.96, 0.34, 1);
            transform: scale(1.1);
          }
        }
        .title-h4 {
          color: map-get($colors, primary);
        }
      }
    }
    &-bgshape-list {
      .shape-3 {
        position: absolute;
        top: calc(25% - 175px);
        @include pxRem(max-width, 547);
      }
      .shape-4 {
        position: absolute;
        @include pxRem(max-width, 1440);

        top: calc(39% - 145px);
      }
    }
  }
}

//==Section Services==
.section-services {
  @include pxRem(padding, 140 0 110);
  position: relative;
  .services {
    &-list {
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: left;
    }
    &-item {
      @include pxRem(border-radius, 30);
      @include pxRem(padding, 0 15);
      flex: 0 0 auto;
      position: relative;
      &:nth-child(3n) {
        @include pxRem(padding-right, 0);
      }
      &:nth-child(3n-2) {
        @include pxRem(padding-left, 0);
      }
      &-content {
        @include pxRem(padding, 55 55);
        position: relative;
        z-index: 2;
        height: 100%;
        &:hover {
          &::after {
            visibility: visible;
            opacity: 1;
          }
          p.text {
            opacity: 0.8;
          }
        }
        &::after {
          @include pxRem(border-radius, 30);
          content: "";
          height: 100%;
          width: calc(100% - 5px);
          background: linear-gradient(180deg, #27272e, #303035);
          border: 1px solid;
          border-image-source: linear-gradient(
            0deg,
            #27272e 64.45%,
            rgba(74, 75, 86, 0.72)
          );
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: -1;
          visibility: hidden;
          opacity: 0;
          transition: $transition-hover;
        }
      }
      &-img {
        @include pxRem(max-height, 48);
        @include pxRem(margin-left, 1);
      }
    }
    &-bgshape-list {
      .shape {
        position: absolute;
        z-index: 0;
      }
      .shape-1 {
        @include pxRem(top, 100);
        right: 0;
      }
      .shape-2 {
        @include pxRem(bottom, 200);
        left: 0;
      }
      .shape-3 {
        @include pxRem(top, 680);
        @include pxRem(left, 110);
      }
    }
  }
}

//==Section Reason==
.section-reason {
  .title-section {
    @include pxRem(margin-bottom, 70);
  }
  @include pxRem(padding, 140 0 110);
  .reason {
    position: relative;
    z-index: 1;
    &-list {
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
    }
    &-item {
      @include pxRem(padding-right, 30);
      @include pxRem(margin-bottom, 80);
      flex: 0 0 auto;
      &-content {
        @include pxRem(border-radius, 30);
        @include pxRem(padding, 35);
        border: 1px solid #e3e6e9;
        background-color: white;
        height: 100%;
      }
      &:nth-child(3n) {
        padding-right: 0;
      }
      &-title {
        @include pxRem(margin-bottom, 20);
      }
      &-icon {
        @include pxRem(height, 62);
        @include pxRem(width, 62);
        @include pxRem(line-height, 60);
        @include pxRem(margin-right, 20);
        justify-content: center;
        align-items: center;
        background-color: #ffdc60;
        border-radius: 50%;
      }
      &:nth-child(4),
      &:last-child {
        p.text {
          @include pxRem(margin-bottom, 16);
        }
        .reason-item-title {
          flex-direction: row-reverse;
        }
        .reason-item-icon {
          @include pxRem(margin-right, 0);
          background-color: map-get($colors, bg-blue-light);
        }
        .reason-item-content {
          @include pxRem(padding, 30 35);
          overflow: hidden;
          position: relative;
          transition: $transition-hover;
        }
        .title-h5 {
          @include pxRem(font-size, 32);
          color: map-get($colors, black);
          transition: $transition-hover;
          font-weight: 500;
        }
        &:hover {
          cursor: pointer;
          .reason-item-content {
            box-shadow: 0 50px 50px -24px rgb(153 161 170 / 30%);
          }
          .btn-small {
            background-color: map-get($colors, primary);
          }
        }
      }
      &:nth-child(4) {
        .shape {
          @include pxRem(max-height, 139);
          @include pxRem(bottom, -7);
          position: absolute;
          right: 0;
          z-index: 0;
        }
        .btn-small {
          @include pxRem(left, 35);
          @include pxRem(bottom, 30);
          position: absolute;
        }
      }
      &:last-child {
        .shape {
          @include pxRem(max-height, 82);
        }
        .btn-small {
          background-color: #896ba7;
        }
      }
    }
    .title-h5 {
      flex: 1 1;
    }
    p.text {
      @include pxRem(font-size, 16);
      position: relative;
      z-index: 3;
      font-weight: map-get($font-weight, light);
      font-family: $font-text;
      letter-spacing: 0.001em;
      transition: $transition-hover;
      margin-bottom: 0;
    }
  }
  .line-shape {
    @include pxRem(top, 90);
    position: absolute;
    left: 0;
    transform: scaleX(-1);
    z-index: 0;
  }
}

// ==Section contact==
.section-contact {
  @include pxRem(padding, 140 0 80);
  background-color: #5956e9;
  color: #fff;
  text-align: center;
  .title-h2 {
    @include pxRem(margin-bottom, 20);
    @include pxRem(font-size, 70);
    font-weight: map-get($font-weight, normal);
  }
  p.text {
    @include pxRem(font-size, 20);
    @include pxRem(margin-bottom, 40);
    line-height: 1.5;
    font-family: $font-text;
    font-weight: map-get($font-weight, light);
    color: map-get($colors, bg-blue-light);
  }
  .contact {
    @include pxRem(margin-bottom, 65);
    position: relative;
    z-index: 2;
  }
  .contact-bgshape-list {
    .shape {
      position: absolute;
      z-index: 1;
    }
    .shape-1 {
      top: 0;
      left: 32%;
    }
    .shape-2 {
      @include pxRem(top, 180);
      left: 18%;
      opacity: 0.5;
      animation: movingleftright1 20s infinite;
    }
    .shape-3 {
      top: 31%;
      left: 20%;
      animation: movingleftright2 25s infinite;
    }
    .shape-4 {
      top: 44%;
      left: 28%;
      animation: movingleftright1 25s infinite;
    }
    .shape-5 {
      top: 50%;
      left: 17%;
      animation: movingleftright2 30s infinite;
    }
    .shape-6 {
      top: 26%;
      right: 21%;
      animation: movingleftright3 30s infinite;
    }
    .shape-7 {
      top: 30%;
      right: 15%;
      -webkit-animation: movingleftright1 30s infinite;
      animation: movingleftright1 30s infinite;
    }
  }
}

//===DARK MODE===
.active-dark-theme {
.page-main {
  .title-h1,
  .title-h2,
  .title-h4,
  .title-h5,
  .text,
  p {
    color: #d3d3d4;
  }
  background-color: #292930;
.section-banner {
  &::before {
    background: #212121;
  }
  .banner-bgshape-list .shape-1 {
    opacity: .2;
  }
  .banner-slider .slick-list .single-slide span {
    box-shadow: none;
  }
  .banner-slider .slick-dots li button:before {
    color: #d3d3d4;
    opacity: 1;
  }
  .banner-slider .slick-dots .slick-active button:before {
    color: map-get($colors, primary);
    opacity: 1;
  }
}
.section-maindemo {
  .maindemo-item-img {
    box-shadow: none;
    span {
      box-shadow: none;
    }
  }
  .maindemo-bgshape-list .shape {
    opacity: .1;
  }
}
.section-reason {
  .line-shape {
    opacity: .1;
  }
  .reason-item-content {
    background-color: #212121;
    color: #fff;
    border-color: #212121;
  }
  .title-h5 {
    color: #d3d3d4;
    font-weight: 500;
  }
  .reason-item:last-child:hover .reason-item-content,
  .reason-item:nth-child(4):hover .reason-item-content {
    box-shadow: 0 50px 50px -24px rgb(1 1 1 / 30%);
  }
}
.section-contact {
  background-color: #27272e;
  .shape {
    filter: brightness(.5)
  }
  .btn-big {
    background-color: map-get($colors, primary);
    color: #fff;
  }
}
}
}

// Keframe Animation
@keyframes movingleftright1 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  40% {
    -webkit-transform: translateX(50px) translateY(-200px);
    transform: translateX(50px) translateY(-200px);
  }
  75% {
    -webkit-transform: translateX(800px);
    transform: translateX(800px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
}
@keyframes movingleftright2 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  40% {
    -webkit-transform: translateX(-50px) translateY(200px);
    transform: translateX(-50px) translateY(200px);
  }
  75% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
}
@keyframes movingleftright3 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  40% {
    -webkit-transform: translateX(100px) translateY(-200px);
    transform: translateX(100px) translateY(-200px);
  }
  75% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

//==Responsive==
@include respond-below(larger) {
.page-main {
  .title-h1 {
    @include pxRem(font-size, 60);
  }
  .title-h2 {
    @include pxRem(font-size, 60);
  }
  .title-section .col-6 {
    width: 58.33333333%;
  }
  .title-section .col-4 {
    width: 41.66666667%
  }
  .section-banner {
    @include pxRem(padding, 240 0 50);
    &::before {
      clip-path: circle(140% at 50% -52%);
    }
    .banner {
      &-count-number {
        @include pxRem(font-size, 70);
      }
      &-slider {
        @include pxRem(padding-left, 32);
        .slick-dots {
          @include pxRem(bottom, 16);
          li {
            @include pxRem(margin, 0 5);
          }
        }
      }
    }
  }
  .section-maindemo {
    @include pxRem(padding, 35 0 80);
    .maindemo {
      &-bgshape-list {
        .shape-3 {
          top: calc(25% + 25px);
        }
        .shape-4 {
          top: calc(39% + 20px);
        }
      }
      &-item-img {
        @include pxRem(margin-bottom, 33);
      }
    }
  }
  .section-services {
    @include pxRem(padding, 100 0 70);
    .services {
      .col-6 {
        width: 50%;
      }
      &-list {
        .col-4 {
          width: 50%;
        }
      }
      &-item {
        @include pxRem(padding, 0 15);
        &:nth-child(2n-1) {
          @include pxRem(padding-left, 0);
        }
        &:nth-child(2n) {
          @include pxRem(padding-right, 0);
        }
        p.text {
          letter-spacing: -.025em;
        }
      }
    }
  }
  .section-reason {
    @include pxRem(padding, 100 0 20);
    .col-4 {
      width: calc(50% - 15px);
    }
    .reason {
      &-list {
        @include pxRem(column-gap, 30);
      }
      &-item {
        @include pxRem(padding, 0);
      }
    }
  }
  .section-contact {
    @include pxRem(padding, 100 0 40);
  }
}
}
@include respond-below(large) {
.page-main {
  .section-banner {
    .banner {
      &-slider {
        padding-left: 0;
        .slick-dots {
          padding-left: 2rem;
        }
      }
    }
  }
  .section-maindemo {
    @include pxRem(padding, 20 0 80);
    .maindemo-bgshape-list .shape-3 {
      top: calc(25% + 15px);
    }
    .maindemo-bgshape-list .shape-4 {
      top: calc(39% + 17px);
    }
  }
  .section-reason {
    .title-text {
      @include pxRem(padding-left, 55);
    }
  }
}
  
}
@include respond-below(wide) {
.page-main {
  .col-10 {
    width: 100%;
  }
  .title-section {
    flex-wrap: wrap;
    @include pxRem(margin-bottom, 40);
    .col-6, .col-4 {
      width: 100%;
    }
  }
  .bg-dark .title-section {
    @include pxRem(margin-bottom, 50);
  }
  .title-h1 {
    @include pxRem( font-size, 50);
  }
  .title-h2 {
    @include pxRem( font-size, 50);
    @include pxRem( margin, 0 0 30);
  }
  .title-h4 {
    @include pxRem( font-size, 26);
  }
  .title-text {
    @include pxRem( font-size, 16);
    padding: 0;
  }
  .section-banner {
    @include pxRem(padding, 170 0 0);
    .banner {
      &-count-list {
        margin-left: 0;
        justify-content: center;
      }
      &-count-item {
        @include pxRem( margin-right, 55);
        &:last-child {
          margin-right: 0;
        }
      }
      &-count-number {
        @include pxRem(font-size, 50);
      }
      &-bgshape-list {
        .shape-1 {
          @include pxRem(top, -45);
          @include pxRem(left, -122);
          transform: scale(.6);
        }
      }
    }
  }
  .section-services {
    @include pxRem(padding, 80 0 50);
    .services .col-6 {
      width: 100%;
    }
    .services .col-4 {
      width: 66.66667%;
    }
    .services-list .col-4 {
      width: 50%;
    }
  }
  .section-reason {
    @include pxRem( padding, 80 0 50);
    .title-text {
      padding-left: 0;
    }
    .col-4 {
      width: 100%;
    }
    .reason-item {
      @include pxRem(margin-bottom, 30);
      &-title {
        margin-bottom: 0;
      }
      &:nth-child(4) .btn-small {
        position: static;
      }
    }
  }
  .section-contact {
    @include pxRem(padding, 80 0 30);
    .title-h2 {
      @include pxRem(font-size, 60);
      @include pxRem(margin-bottom, 20);
    }
    p.text {
      @include pxRem(font-size, 18);
    }
  }
}
  
}
@include respond-below(medium) {
.page-main {

  .title-h1 {
    @include pxRem(font-size, 40);
  }
  .title-h4, .title-h5 {
    @include pxRem(font-size, 20);
  }
  .title-section .col-4 {
    width: 99%;
  }
  .section-banner {
    @include pxRem(padding, 150 0 0);
    .banner {
      &-count-list {
        @include pxRem(margin, 1 0 0 1);
      }
      &-count-item {
        @include pxRem(margin-right, 30);
        @include pxRem(min-width, 80);
      }
      &-count-number {
        @include pxRem(padding, 0 11.2);
      }
      &-slider {
        @include pxRem(margin-top, 60);
        .slick-slide.slick-active.slick-center.slick-current {
          @include pxRem(width, 677 !important);
          @include pxRem(margin, 0 0 20);
        }
      }
    }
  }
  .section-maindemo {
    @include pxRem(padding, 20 0 40);
    .maindemo {
      .col-6 {
        width: 100%
      }
      &-item {
        padding: 0;
        @include pxRem(margin-bottom, 60);
      }
    }
  }
  .section-services {
    @include pxRem(padding, 60 0 30);
    .services-list .col-4 {
      width: 100%;
    }
    .services-item {
      padding: 0;
    }
  }
  .section-reason {
    @include pxRem(padding, 60 0 30);
  }
  .section-contact {
    @include pxRem(padding, 60 0 10);
    .title-h2 {
      @include pxRem(font-size, 50);
    }
    .contact {
      @include pxRem(margin-bottom, 50);
    }
    .shape-6 {
      display: none;
    }
  }
}
  
}
