.btn {
  @include pxRem(padding, 18 55);
  @include pxRem(border-radius, 20);
  @include pxRem(font-size, 17.8);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: -0.04em;
  border: 1px solid map-get($colors, primary);
  background-color: map-get($colors, primary);
  color: map-get($colors, white);
  line-height: 1.5;
  vertical-align: middle;
  cursor: pointer;
  transition: background 400ms ease;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &:hover {
    background: map-get($colors, primary-dark);
  }
  &:focus {
    outline: none;
  }
  &.disabled,
  &:disabled {
    pointer-events: none;
    color: map-get($colors, txt-disabled);
    border-color: map-get($colors, txt-disabled);
    background: map-get($colors, bg-gray-light);
  }
}
.primary-btn {
  &:hover {
    background-color: map-get($colors, bg-hover);
    border-color: map-get($colors, bg-hover);
    a::after {
      transform: translateY(-50%) translateX(-50%) scale(1);
    }
  }
  a {
    position: relative;
    width: inherit;
    z-index: 1;
    &::after {
      content: "";
      @include pxRem(height, 300);
      @include pxRem(width, 300);
      background-color: map-get($colors, bg-hover);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%) scale(0);
      transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      z-index: -1;
    }
  }
}
.btn-small {
  @include pxRem(padding, 13 24);
  @include pxRem(font-size, 18);
  @include pxRem(line-height, 43);
  @include pxRem(border-radius, 100);
  border: none;
  transition: $transition-hover;
  background-color: #c75c6f;
}
.btn-big {
  @include pxRem(padding, 24 80);
  @include pxRem(font-size, 16);
  background-color: #fff;
  color: #2a288b;
  font-weight: 500;
  font-family: $font-text;
  filter: drop-shadow(0 14px 20px rgba(35,34,87,.4)) drop-shadow(0 48px 48px rgba(0,0,0,.12));
  &:hover {
    background-color: #ffdc60;
  }
}
.active-dark-theme {
  .btn-big {
    &:hover {
      background-color: map-get($colors, bg-hover);
      border-color: map-get($colors, bg-hover);
      a::after {
        transform: translateY(-50%) translateX(-50%) scale(1);
      }
    }
    a {
      position: relative;
      width: inherit;
      z-index: 1;
      &::after {
        content: "";
        @include pxRem(height, 300);
        @include pxRem(width, 300);
        background-color: map-get($colors, bg-hover);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%) scale(0);
        transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        z-index: -1;
      }
    }
  }
}
.btn-swicher-theme {
  @include pxRem(border-radius, 0 30 30 0);
  @include pxRem(padding, 21);
  @include pxRem(font-size, 18);
}

//==Responsive==
@include respond-below(wide) {
  .btn {
    @include pxRem(padding, 19 56);
    @include pxRem(font-size, 16);
  }
}
@include respond-below(medium) {
  .btn {
    @include pxRem(padding, 16.1 31.4);
    @include pxRem(font-size, 15);
  }
  .btn-small {
    @include pxRem(padding, 15 26.5);

  }
  .btn-big {
    @include pxRem(padding, 24 80);
    @include pxRem(font-size, 16);
  }
}

